[bumpversion]
current_version = 0.14.0
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:src/pyodide.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

