[bumpversion]
current_version = 0.15.0
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:src/pyodide.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:Makefile]
search = iodide.io/v{current_version}
replace = iodide.io/v{new_version}

[bumpversion:file:docs/pypi.md]
search = iodide.io/v{current_version}
replace = iodide.io/v{new_version}

[bumpversion:file:docs/using_pyodide_from_javascript.md]
search = iodide.io/v{current_version}
replace = iodide.io/v{new_version}
