[bumpversion]
current_version = 0.20.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?P<release>.*)(?P<build>\d+)?
serialize =
    {major}.{minor}.{patch}{release}{build}
    {major}.{minor}.{patch}
commit = False
tag = False
tag_name = {new_version}

[bumpversion:part:release]
optional_value = none
values =
  none
  dev
  a
  b

[bumpversion:part:build]
first_value = 0

[bumpversion:file:src/py/pyodide/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:src/py/setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:pyodide-build/setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:run_docker]
search = PYODIDE_PREBUILT_IMAGE_TAG="{current_version}"
replace = PYODIDE_PREBUILT_IMAGE_TAG="{new_version}"

[bumpversion:file:docs/conf.py]
search = pyodide_version = "{current_version}"
replace = pyodide_version = "{new_version}"

[bumpversion:file:src/js/package.json]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)-(?P<release>.*)\.(?P<build>\d+)?
serialize =
    {major}.{minor}.{patch}-{release}.{build}
    {major}.{minor}.{patch}
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:src/js/package-lock.json]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)-(?P<release>.*)\.(?P<build>\d+)?
serialize =
    {major}.{minor}.{patch}-{release}.{build}
    {major}.{minor}.{patch}
search = "version": "{current_version}"
replace = "version": "{new_version}"
