root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[**.py]
indent_size = 4

[tools/*]
indent_size = 4

[Makefile]
indent_style = tab

[**.patch]
trim_trailing_whitespace = false
