*.a
*.o
*.pyc
*.gen.*
src/js/generated
*.out.*

*.egg-info/

__pycache__

.docker_home
.hypothesis
.idea
.mozilla
.mypy_cache/
.pytest_cache/
.vscode
.venv*
tsconfig.tsbuildinfo

build
ccache
cpython/downloads
cpython/installs
cpython/build.log
dist*/
docs/_build/
emsdk/emsdk
emsdk/emscripten
geckodriver.log
node_modules
packages/.artifacts
packages/.build
packages/.libs
packages/*/build.log*
packages/build-logs
dist/
xbuildenv/
pytest-pyodide
tools/symlinks
xbuildenv/
.pyodide-xbuildenv*
DS_Store
