*.a
*.o
*.pyc
*.gen.*
src/js/generated
*.out.*

*.egg-info/

__pycache__

.docker_home
.hypothesis
.idea
.mozilla
.mypy_cache/
.pytest_cache/
.vscode
.venv*

build
ccache
cpython/downloads
cpython/installs
cpython/build.log
dist*/
docs/_build/
emsdk/emsdk
geckodriver.log
node_modules
packages/.artifacts
packages/.libs
packages/*/build.log*
packages/build-logs
dist/
pyodide-build/**/build.log
xbuildenv/
pytest-pyodide
tools/symlinks
xbuildenv/
