*.bc
*.a
.pytest_cache/
__pycache__
geckodriver.log

/root/
/build/

/emsdk/emsdk

/cpython/build
/cpython/downloads
/cpython/installs

/numpy/build
/numpy/host
/numpy/downloads
/numpy/.patched

/pandas/build
/pandas/host
/pandas/downloads
/pandas/.patched