exclude: (^.*patches|.*\.cgi$|^packages/micropip/src/micropip/externals|^benchmark/benchmarks$|^src/py/ssl.py)
default_language_version:
  python: "3.13"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        exclude: .clang-format
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: requirements-txt-fixer

  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.10"
    hooks:
      - id: biome-format
        additional_dependencies: ["@biomejs/biome@2.1.1"]
        types_or: [javascript, ts]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v21.1.8"
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: python-use-type-annotations
        exclude: docs/sphinx_pyodide/tests/test_directives\.py
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck
        exclude: ^src/templates/python$

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        args:
          [
            "--ignore-words-list",
            "ags,aray,asend,ba,crate,falsy,feld,inflight,lits,nd,slowy,te,oint,conveniant,atmost",
          ]
        exclude: ^(benchmark/benchmarks/pystone_benchmarks/pystone\.py|src/js/package-lock\.json|packages/matplotlib/extras/fontlist\.json)$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
        files: ^(packages/.*/src|src)
        exclude: (setup.py|.*test.*|pyodide-build)
        args: []
        additional_dependencies: &mypy-deps
          - packaging
          - types-docutils
          - types-pyyaml
          - types-setuptools
          - types-requests
          - numpy
          - build
          - pytest
          - pydantic>=2.0
          - unearth
          - resolvelib
          - rich
          - auditwheel_emscripten
          - pyodide-lock==0.1.0a5
          - micropip
      - id: mypy
        name: mypy-tests
        args: [--ignore-missing-imports]
        files: ^(packages/|docs|/conftest.py|src/tests)
        exclude: (^packages/.*/setup.py|/src|pyodide-build)
        additional_dependencies: *mypy-deps

ci:
  autoupdate_schedule: "quarterly"
