exclude: (^.*patches|.*\.cgi$|^packages/micropip/src/micropip/externals|^benchmark/benchmarks$)
default_language_version:
  python: "3.10"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.2.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        exclude: .clang-format
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/isort
    rev: "5.10.1"
    hooks:
      - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: "v2.32.1"
    hooks:
      - id: pyupgrade
        args: ["--py310-plus"]

  - repo: https://github.com/hadialqattan/pycln
    rev: "v1.3.2"
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
        stages: [manual]

  - repo: https://github.com/psf/black
    rev: "22.3.0"
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: "4.0.1"
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.950"
    hooks:
      - id: mypy
        files: ^(packages/.*/src|src|pyodide-build/pyodide_build)
        exclude: (setup.py|^src/tests|conftest.py)
        args: []
        additional_dependencies: &mypy-deps
          - packaging
          - types-docutils
          - types-pyyaml
          - types-setuptools
          - numpy
          - build
          - pytest
      - id: mypy
        name: mypy-tests
        args: [--ignore-missing-imports]
        files: ^(packages/|docs|conftest.py|src/tests)
        exclude: (^packages/.*/setup.py|/src)
        additional_dependencies: *mypy-deps

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v14.0.3"
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.6.2"
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.9.0"
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-no-eval
        exclude: ^(src/py/_pyodide/_base\.py|src/tests/test_typeconversions\.py|src/py/pyodide/_run_js.py)$
      - id: python-use-type-annotations
        exclude: docs/sphinx_pyodide/tests/test_directives\.py
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.8.0.4"
    hooks:
      - id: shellcheck

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.1.0"
    hooks:
      - id: codespell
        args: ["-L", "te,slowy,aray,ba,nd,classs,feld"]
        exclude: ^benchmark/benchmarks/pystone_benchmarks/pystone\.py$
