  # build
  cmake
  ruamel.yaml
  # lint
  pre-commit
  # testing
  build==0.7.0
  sphinx-click
  hypothesis
  pytest
  pytest-asyncio
  pytest-cov
  pytest-httpserver
  pytest-benchmark
  pytest-pyodide==0.52.2
