  # build
  cmake
  ruamel.yaml
  # lint
  pre-commit
  # testing
  build==1.0.3
  sphinx-click
  hypothesis
  pytest
  pytest-asyncio
  pytest-cov
  pytest-httpserver
  pytest-benchmark
  pytest-pyodide @ git+https://github.com/ryanking13/pytest-pyodide@reuse-safari-webdriver
