<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.23.0/js/jquery.terminal.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.23.0/css/jquery.terminal.min.css"
      rel="stylesheet"
    />
    <script src="{{ PYODIDE_BASE_URL }}pyodide.js"></script>
    <style>
      .terminal {
        --size: 1.5;
      }
    </style>
  </head>
  <body>
    <script>
      "use strict";
      function sleep(s) {
        return new Promise((resolve) => setTimeout(resolve, s));
      }

      async function main() {
        globalThis.pyodide = await loadPyodide({
          indexURL: "{{ PYODIDE_BASE_URL }}",
        });
        let namespace = pyodide.globals.get("dict")();
        pyodide.runPython(
          `
            import sys
            import js
            from pyodide.console import PyodideConsole, repr_shorten, BANNER
            import __main__
            BANNER = "Welcome to the Pyodide terminal emulator 🐍\\n" + BANNER
            js.pyconsole = PyodideConsole(__main__.__dict__)
        `,
          namespace
        );
        let repr_shorten = namespace.get("repr_shorten");
        let banner = namespace.get("BANNER");
        namespace.destroy();

        let ps1 = ">>> ",
          ps2 = "... ";

        async function lock() {
          let resolve;
          let ready = term.ready;
          term.ready = new Promise((res) => (resolve = res));
          await ready;
          return resolve;
        }

        async function interpreter(command) {
          let unlock = await lock();
          term.pause();
          // multiline should be splitted (useful when pasting)
          for (const c of command.split("\n")) {
            let fut = pyconsole.push(c);
            term.set_prompt(fut.syntax_check === "incomplete" ? ps2 : ps1);
            switch (fut.syntax_check) {
              case "syntax-error":
                term.error(fut.formatted_error.trimEnd());
                continue;
              case "incomplete":
                continue;
              case "complete":
                break;
              default:
                throw new Error(`Unexpected type ${ty}`);
            }
            // complete case, get result / error and print it.
            try {
              let value = await fut;
              if (value !== undefined) {
                term.echo(
                  repr_shorten.callKwargs(value, {
                    separator: "\\n[[;orange;]<long output truncated>]\\n",
                  })
                );
              }
              if (value && value.destroy) {
                value.destroy();
              }
            } catch (e) {
              if (e.constructor.name === "PythonError") {
                term.error(fut.formatted_error.trimEnd());
              } else {
                throw e;
              }
            }
            fut.destroy();
          }
          term.resume();
          await sleep(10);
          unlock();
        }

        let term = $("body").terminal(interpreter, {
          greetings: banner,
          prompt: ps1,
          completionEscape: false,
          completion: function (command, callback) {
            callback(pyconsole.complete(command).toJs()[0]);
          },
        });
        window.term = term;
        pyconsole.stdout_callback = (s) => term.echo(s, { newline: false });
        pyconsole.stderr_callback = (s) => {
          term.error(s.trimEnd());
        };
        term.ready = Promise.resolve();
        pyodide._module.on_fatal = async (e) => {
          term.error(
            "Pyodide has suffered a fatal error. Please report this to the Pyodide maintainers."
          );
          term.error("The cause of the fatal error was:");
          term.error(e);
          term.error("Look in the browser console for more details.");
          await term.ready;
          term.pause();
          await sleep(15);
          term.pause();
        };
      }
      window.console_ready = main();
    </script>
  </body>
</html>
