<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/echo_newline.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet"/>
    <script type="text/javascript">
        // set the pyodide files URL (packages.json, pyodide.asm.data etc)
        window.languagePluginUrl = '{{ PYODIDE_BASE_URL }}';
    </script>
    <script src="{{ PYODIDE_BASE_URL }}pyodide.js"></script>
    <style>
      .terminal { --size: 1.5; }
    </style>
  </head>
  <body>
    <script>
      languagePluginLoader.then(() => {
        let namespace = pyodide.globals.get("dict")();
        pyodide.runPython(`
            import sys
            import js
            from pyodide import console
            import __main__


            def displayhook(value):
                separator = "\\n[[;orange;]<long output truncated>]\\n"
                _repr = lambda v: console.repr_shorten(v, separator=separator)
                return console.displayhook(value, _repr)

            sys.displayhook = displayhook


            class PyConsole(console.InteractiveConsole):
                def __init__(self):
                    super().__init__(
                        __main__.__dict__,
                        persistent_stream_redirection=False,
                    )

                def banner(self):
                    return f"Welcome to the Pyodide terminal emulator 🐍\\n{super().banner()}"


            js.window.pyconsole = PyConsole()
        `, namespace);
        namespace.destroy();

        let ps1 = '>>> ', ps2 = '... ';

        async function interpreter(command) {
            // multiline should be splitted (usefull when pasting)
            term.pause();
            for( const c of command.split('\n') ) {
                const prompt = pyconsole.push(c) ? ps2 : ps1;
                term.set_prompt(prompt);
                await pyconsole.run_complete;
            }
            term.resume();
        }

        let term = $('body').terminal(
          interpreter,
          {
            greetings: pyconsole.banner(),
            prompt: ps1,
            completionEscape: false,
            completion: function(command, callback) {
              callback(pyconsole.complete(command).toJs()[0]);
            }
          }
        );

        pyconsole.stdout_callback = (s) => term.echo(s, {newline : false});
        pyconsole.stderr_callback = (s) => term.echo(`[[;red;]${$.terminal.escape_brackets(s)}\u200B]`, {newline : false});
      });
    </script>
  </body>
</html>
