<!-- Bootstrap HTML for running the unit tests. -->
<html>
  <head>
    <meta charset="utf-8" />
    <script type="text/javascript">
      function sleep(s) {
        return new Promise((resolve) => setTimeout(resolve, s));
      }
      window.logs = [];
      console.log = function (message) {
        window.logs.push(message);
      };
      console.warn = function (message) {
        window.logs.push(message);
      };
      console.info = function (message) {
        window.logs.push(message);
      };
      console.error = function (message) {
        window.logs.push(message);
      };
      Error.stackTraceLimit = Infinity;
      window.assert = function (cb, message = "") {
        if (message !== "") {
          message = "\n" + message;
        }
        if (cb() !== true) {
          throw new Error(
            `Assertion failed: ${cb.toString().slice(6)}${message}`
          );
        }
      };
      window.assertAsync = async function (cb, message = "") {
        if (message !== "") {
          message = "\n" + message;
        }
        if ((await cb()) !== true) {
          throw new Error(
            `Assertion failed: ${cb.toString().slice(12)}${message}`
          );
        }
      };
      function checkError(err, errname, pattern, pat_str, thiscallstr) {
        if (typeof pattern === "string") {
          pattern = new RegExp(pattern);
        }
        if (!err) {
          throw new Error(`${thiscallstr} failed, no error thrown`);
        }
        if (err.constructor.name !== errname) {
          throw new Error(
            `${thiscallstr} failed, expected error ` +
              `of type '${errname}' got type '${err.constructor.name}'`
          );
        }
        if (!pattern.test(err.message)) {
          throw new Error(
            `${thiscallstr} failed, expected error ` +
              `message to match pattern ${pat_str} got:\n${err.message}`
          );
        }
      }
      window.assertThrows = function (cb, errname, pattern) {
        let pat_str =
          typeof pattern === "string" ? `"${pattern}"` : `${pattern}`;
        let thiscallstr = `assertThrows(${cb.toString()}, "${errname}", ${pat_str})`;
        let err = undefined;
        try {
          cb();
        } catch (e) {
          err = e;
        }
        checkError(err, errname, pattern, pat_str, thiscallstr);
      };
      window.assertThrowsAsync = async function (cb, errname, pattern) {
        let pat_str =
          typeof pattern === "string" ? `"${pattern}"` : `${pattern}`;
        let thiscallstr = `assertThrowsAsync(${cb.toString()}, "${errname}", ${pat_str})`;
        let err = undefined;
        try {
          await cb();
        } catch (e) {
          err = e;
        }
        checkError(err, errname, pattern, pat_str, thiscallstr);
      };
      // set the pyodide files URL (packages.json, pyodide.asm.data etc)
    </script>
    <script src="./pyodide.js"></script>
  </head>
  <body></body>
</html>
