[project]
name = "lzma"
authors = [
  { name="Pyodide"},
]
description = "Unvendored lzma for Pyodide"
version = "1.0.0"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
include = [
  "lzma.py",
  "_lzma.so",
]
exclude = [
  "Python-*",
]
