#release-notes .badge {
  margin-right: 5px;
  opacity: 0.7;
}

/* Don't make code smaller than other text it looks ugly */
code {
  font-size: 100% !important;
}

.section > h3 {
  /* shrink h3 a bit, was ~1.8em */
  font-size: 1.65em;
}

.section > h4 {
  /* shrink h4 a bit, was 1.44em */
  font-size: 1.3em;
}

/* Remove "captions" in text table of contents, keep subsections in sidebar */
.toctree-wrapper > .caption {
  display: none;
}

/* Display "async", "class" prefixes and parameters in upright style not italic */
.sig-param,
.property {
  font-style: normal;
}

.js.attribute.type {
  font-weight: bold;
}

code.literal {
  /* I don't like the badge py-data puts around code literals, it is too aggressive */
  background-color: unset;
  border: unset;
  /* Shrink the horizontal padding a little */
  padding: 0.1rem;
}

/* Badges for the changelog copied from pydata-sphinx-theme.css in pyodide v0.22 */

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}
.badge:empty {
  display: none;
}
.badge {
  position: relative;
  top: -1px;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

a {
  text-decoration: none;
}
