# This file is used to track build constraints for packages
# via pyodide-build.
#
# Add any upper bounds for packages here to ensure that
# their builds succeed, or those for packages that rely
# on them at build time.

maturin < 1.8
pyo3 < 0.24.4
