autodocsumm
docutils==0.16
myst-parser==0.13.3
packaging   # required by micropip at import time
sphinx
sphinx-argparse-cli~=1.6.0
sphinx_book_theme
sphinxcontrib-napoleon
sphinx-issues==2.0.0
sphinx-js==3.1
sphinx-version-warning~=1.1.2
sphinx-panels
markupsafe<2.1.0
