autodocsumm
docutils
myst-parser
packaging   # required by micropip at import time
sphinx>=5.3.0
sphinx-argparse-cli>=1.6.0
sphinx_book_theme>=0.4.0rc1
# A dependency of the above theme, which had some breaking changes in 0.13.2
pydata_sphinx_theme < 0.13.2
sphinx-issues
# Use my branch of sphinx-click with fix for warnings:
# CRITICAL: Unexpected section title or transition
# https://github.com/click-contrib/sphinx-click/pull/137
# https://github.com/click-contrib/sphinx-click/pull/138
sphinx-click @ git+https://github.com/hoodmane/sphinx-click@271ebdb3e5855f2901f5dd4390f26381a353224e
sphinx-autodoc-typehints>=1.21.7
sphinx-design>=0.3.0
pydantic
# TODO: separate document for pyodide-build?
pyodide-build>=0.27.3
# Version should be consistent with packages/micropip/meta.yaml
micropip==0.7.0
jinja2>=3.0
ruamel.yaml
sphinx-js @ git+https://github.com/pyodide/sphinx-js-fork@14958086d51939ae4078751abec004e1f3fea1fe
