autodocsumm
docutils==0.16
myst-parser
packaging   # required by micropip at import time
sphinx>=4.4.0
sphinx-argparse-cli~=1.6.0
sphinx_book_theme
sphinxcontrib-napoleon>=0.7
sphinx-issues==2.0.0
sphinx-js==3.1
sphinx-version-warning~=1.1.2
sphinx-panels
markupsafe<2.1.0
pydantic
# Version should be consistent with packages/micropip/meta.yaml
micropip==0.1.0
