name: deploy-release
on:
  workflow_dispatch:
  release:
    types: [published]
jobs:
  deploy-pyodide-py-pypi:
    runs-on: ubuntu-latest
    environment: PyPi
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: python -m pip install build twine

      - name: Build wheel
        run: |
          cd src/py/
          python -m build .

      - name: Check wheel
        run: |
          twine check src/py/dist/*

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN_PYODIDE_PY }}
          packages_dir: src/py/dist/
