name: main

on: [push, pull_request]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: 3.10.2

      - name: Install requirements
        shell: bash -l {0}
        run: |
          mkdir test-results
          cd pyodide-build && python3 -m pip install -e ".[test]" && cd ..
          python3 -m pip install pytest-cov hypothesis pytz
      - name: Run tests
        shell: bash -l {0}
        run: |
          PYODIDE_ROOT=. pytest \
              --junitxml=test-results/junit.xml \
              --verbose \
              --runtime=host \
              --cov=pyodide_build --cov=pyodide \
              src pyodide-build packages/micropip/ packages/_tests
      - uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false

  build-core:
    uses: ./.github/workflows/build.yml
    with:
      packages: core
      artifacts-prefix-prev: ""
      artifacts-prefix: core
      retention-days: 30

  build-packages:
    needs: [build-core]
    uses: ./.github/workflows/build.yml
    with:
      packages: "*"
      artifacts-prefix-prev: core
      artifacts-prefix: packages
      retention-days: 30

  test-core:
    strategy:
      matrix:
        runner: [playwright]
        runtime: [chrome-no-host, firefox-no-host]
      fail-fast: false
    needs: [build-core]
    uses: ./.github/workflows/test.yml
    with:
      runner: ${{ matrix.runner }}
      runtime: ${{ matrix.runtime }}
      test-params: -k "not webworker" src packages/micropip  packages/fpcast-test packages/sharedlib-test-py/ packages/cpp-exceptions-test/ --skip-passed
      artifacts-prefix-build: core

  test-core-webworker:
    strategy:
      matrix:
        runner: [playwright]
        runtime: [chrome-no-host, firefox-no-host]
      fail-fast: false
    needs: [build-core]
    uses: ./.github/workflows/test.yml
    with:
      runner: ${{ matrix.runner }}
      runtime: ${{ matrix.runtime }}
      test-params: src/tests/test_webworker.py --skip-passed
      artifacts-prefix-build: core

  test-packages:
    strategy:
      matrix:
        runner: [playwright]
        runtime: [chrome-no-host, firefox-no-host]
      fail-fast: false
    needs: [build-packages]
    uses: ./.github/workflows/test.yml
    with:
      runner: ${{ matrix.runner }}
      runtime: ${{ matrix.runtime }}
      test-params: packages/*/test*.py --skip-passed
      artifacts-prefix-build: packages
