on:
  workflow_dispatch

jobs:
  build_image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile-prebuilt
          push: true
          tags: "iodide/pyodide:0.16.1,iodide/pyodide:latest"
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
